<%- include('reuseables/Header.ejs') %>
    <%- include('reuseables/Navbar.ejs') %>




        <div class="hidden sm:block bg-gray-100 py-3 w-full">
            <ul class=" flex flex-row w-full justify-evenly text-black">
                <li class="relative card">
                    <p class=" font-bold">What's New</p>
                    <div class="absolute details-div border bg-gray-200 rounded-sm py-3 sm:w-[13rem]  z-[4]">
                        <div class="flex flex-col w-full items-center">
                            <a href="#"
                                class=" mb-2 w-10/12 bg-white font-semibold py-1  text-center rounded-md">JavaScript</a>
                            <a href="#"
                                class=" mb-2 w-10/12 font-semibold bg-white py-1  text-center rounded-md">Python</a>


                        </div>
                    </div>
                </li>

                <li class="relative card">
                    <p class=" font-bold">Top Articles</p>
                    <div class="absolute details-div border bg-gray-200 rounded-sm py-3 sm:w-[13rem]  z-[4]">
                        <div class="flex flex-col w-full items-center">
                            <a href="#"
                                class=" mb-2 w-10/12 bg-white font-semibold py-1  text-center rounded-md">JavaScript</a>
                            <a href="#"
                                class=" mb-2 w-10/12 font-semibold bg-white py-1  text-center rounded-md">Python</a>


                        </div>
                    </div>
                </li>

                <li class="relative card">
                    <p class=" font-bold">News Updates</p>
                    <div class="absolute details-div border bg-gray-200 rounded-sm py-3 sm:w-[13rem]  z-[4]">
                        <div class="flex flex-col w-full items-center">
                            <a href="#"
                                class=" mb-2 w-10/12 bg-white font-semibold py-1  text-center rounded-md">JavaScript</a>
                            <a href="#"
                                class=" mb-2 w-10/12 font-semibold bg-white py-1  text-center rounded-md">Python</a>


                        </div>
                    </div>
                </li>

                <li class="relative card">
                    <p class=" font-bold">Tutorials</p>
                    <div class="absolute details-div border bg-gray-200 rounded-sm py-3 sm:w-[13rem]  z-[4]">
                        <div class="flex flex-col w-full items-center">
                            <a href="#"
                                class=" mb-2 w-10/12 bg-white font-semibold py-1  text-center rounded-md">JavaScript</a>
                            <a href="#"
                                class=" mb-2 w-10/12 font-semibold bg-white py-1  text-center rounded-md">Python</a>


                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <% if(messages.success){%>
            <p class="text-black w-9/12 sm:w-6/12 mx-auto py-2 bg-green-200 rounded-md text-center my-2">
                <%= messages.success %>
            </p>
            <% } %>
                <% if(messages.error){%>
                    <p class="text-black w-8/12 mx-auto py-2 bg-red-200 text-center my-2 rounded-md">
                        <%= messages.error %>
                    </p>
                    <% } %>





                        <div class="flex flex-col sm:flex-row">

                            <div class="w-11/12  sm:w-12/12 sm:pl-4   my-2 mx-auto sm:ml-auto bg-white ">
                                <div class="grid grid-cols-12 mb-3 gap-2 mt-12">
                                    <% if(randomPost) {%>
                                        <a class="col-span-12  sm:col-span-8 mb-auto border relative"
                                            href="/article/view/<%= randomPost._id%>">
                                            <div class="card">
                                                <img src="/uploads/<%= randomPost.image %>" class="rounded-sm w-full"
                                                    alt="">
                                                <span
                                                    class="absolute bottom-0 z-[3] bg-[#00000075] w-full py-3 px-1 opacity[.3] text-sm font-semibold text-white">
                                                    <%= randomPost.headline.toString().slice(0,100) %>
                                                </span>
                                            </div>
                                        </a>
                                        <%} %>

                                            <% if(articles.length> 0) {%>
                                                <% articles.slice(0,4).forEach((article)=>{%>
                                                    <a class="col-span-12  sm:col-span-4 mb-auto border relative"
                                                        href="/article/view/<%= article._id%>">
                                                        <div class="card">
                                                            <img src="/uploads/<%= article.image %>"
                                                                class=" w-full rounded-sm" alt="">
                                                            <span
                                                                class="absolute title bottom-0 z-[3] bg-[#00000075] w-full py-1 px-1 opacity[.3] text-sm font-semibold text-white">
                                                                <%= article.headline.toString().slice(0,100) %>
                                                            </span>
                                                        </div>
                                                    </a>
                                                    <%}) %>
                                                        <%} %>
                                </div>


                                <div class="container border-2 p-2 rounded-md flex flex-col">
                                    <p class="text-xl border-b-4 border-green-700 font-bold w-32 my-3 ml-3">Recent Posts</p>
                                    <% articles.forEach(article => {%>
                                        <div class="flex flex-row mb-3">
                                            <div class="w-[15rem]">
                                               <a href="/article/view/<%= article._id %>"> <img src="/uploads/<%= article.image %>"  class="w-[10rem[" alt=""></a>
                                            </div>
                                            <div class="flex flex-col pl-4">
                                                <a href="/article/view/<%= article._id %>"> <p class="text-sm sm:text-2xl font-bold"><%= article.headline %></p></a>
                                                <p class="text-sm sm:text-md  my-2"><%= article.subHeadline %></p>
                                                <p class="text-sm mt-auto"><%= article.authorName %> . <%= moment(article.createdAt).fromNow() %></p>
                                            </div>
                                        </div>
                                    <%})%>
                                </div>
                                </div>





                                <div class="flex flex-col sm:w-4/12">
                                    <div class="flex ml-5 ">
                                        <div
                                            class="border py-2 px-2 mt-12 h-fit rounded-md border-green-500 my-4 w-11/12 mx-auto">
                                            <p
                                                class="text-lg my-2  px-2 border-b-4 w-40 border-[#215f45fd] mx-2 font-bold">
                                                Latest Articles</p>

                                            <% if(articles.length> 0) {%>
                                                <% articles.slice(0, 6).forEach((article)=>{%>
                                                    <div class="ml-2 my-6">
                                                        <p
                                                            class="pb-4 text-md textThemeClr border-b-2 border-[#1c91308c] py-1 px-2">
                                                            <a href="/article/view/<%= article._id %>">
                                                                <%= article.headline %>
                                                            </a>
                                                        </p>
                                                    </div>

                                                    <%}) %>
                                                        <%} %>
                                        </div>
                                    </div>


                                    <div class="flex ml-5 ">
                                        <div
                                            class="border py-2 px-2 h-fit rounded-md border-green-500 my-4 w-11/12 mx-auto">
                                            <p class="text-lg my-2  px-2 border-b-4  border-[#215f45fd] mx-2">Join Us On
                                                Social Media</p>
                                            <div class="flex flex-row justify-center items-center my-6">
                                                <a href=""><i
                                                        class="fa-brands fa-square-facebook fa-2xl text-blue-700"></i></a>
                                                <a href=""><i
                                                        class="fa-brands fa-instagram ml-3 fa-2xl text-orange-700"></i></a>
                                                <a href=""><i
                                                        class="fa-brands fa-youtube ml-3 fa-2xl text-red-700"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>








                        <%- include('reuseables/Footer.ejs') %>