<%- include('reuseables/Header.ejs') %>
    <%- include('reuseables/Navbar.ejs') %>


        <div class="flex mt-6 flex-col sm:flex-row">
            <div class="w-11/12 ml-[2rem] mb-3 mx-auto rounded-md">
                <div class="grid grid-cols-12 bg-gray-100 py-4 rounded-md mt-3 px-2">

                    <div class="col-span-12 sm:col-span-11 sm:ml-4 relative">
                        <p class="text-[1.3rem] sm:text-md  font-bold">
                            <%= article.headline %>
                        </p>
                        <div class="w-11/12"><img src="/uploads/<%= article.image %>" alt="Thumbnail">
                        </div>
                        <div class="flex flex-row mx-1 pb-5 border-b-2  justify-start mt-3 items-center">

                            <span class="text-sm text-gray-500 flex flex-row justify-between items-center">
                                <% if(article.authorProfilePic){ %>
                                    <img src="/uploads/<%= article.authorProfilePic %>"
                                        class="w-12 h-12 mx-2 rounded-full" alt="">
                                    <% }else{ %>
                                        <img src="/assets/user1.png" alt="profile_Img" class="w-12 h-12 mx-2" alt="">
                                        <% } %>
                                            <div class="flex flex-col">
                                                <span class="font-semibold text-lg"> By <%= article.authorName %></span>
                                                <span class=" text-sm ">
                                                    <%= article.authorName %>
                                                </span>
                                            </div>

                            </span>
                            <!-- <span class="text-sm text-gray-500">created at  :<%= article.createdAt %></span> -->
                        </div>


                        <p class="text-[1rem] sm:text-md mt-1 pl-2"><%- article.content %></p>




                    </div>
                </div>
            </div>
            <div class="flex flex-col    sm:w-4/12">
                <div class="flex ml-5 ">
                    <div class="border py-2 px-2 h-fit rounded-md border-green-500 my-4 w-11/12 mx-auto">
                        <p class="text-lg my-2  px-2 border-b-4 w-40 border-[#215f45fd] mx-2">Latest Articles</p>

                        <% if(articles.length> 0) {%>
                            <% articles.slice(0, 6).forEach((article)=>{%>
                                <div class="ml-2 my-6">
                                    <p class="pb-4 text-md textThemeClr border-b-2 border-[#1c91308c]  py-1 px-2">
                                        <a href="/article/view/<%= article._id %>">
                                            <%= article.headline %>
                                        </a>
                                    </p>
                                </div>

                                <%}) %>
                                    <%} %>
                    </div>
                </div>


                <div class="flex ml-5 ">
                    <div class="border py-2 px-2 h-fit rounded-md border-green-500 my-4 w-11/12 mx-auto">
                        <p class="text-lg my-2  px-2 border-b-4  border-[#215f45fd] mx-2">Join Us On
                            Social Media</p>
                        <div class="flex flex-row justify-center items-center my-6">
                            <a href=""><i class="fa-brands fa-square-facebook fa-2xl text-blue-700"></i></a>
                            <a href=""><i class="fa-brands fa-instagram ml-3 fa-2xl text-orange-700"></i></a>
                            <a href=""><i class="fa-brands fa-youtube ml-3 fa-2xl text-red-700"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <%- include('reuseables/Footer.ejs') %>